/* Use Open Sans as the default sans serif font. */ @import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,700|Source+Code+Pro:300,400,500,700");

/* Set up some CSS variables to theme the application. */
:root {
  --matr-navbar-bg: #ECECEC;
  --matr-navbar-bg-rgb: 236, 236, 236;
}

/* Change bootstrap variable values.
 See https://getbootstrap.com/docs/5.2/customize/css-variables/
 */
body {
  --bs-light-rgb: var(--matr-navbar-bg-rgb);
  font-family: 'Open Sans', sans-serif; /* Apply Open Sans font to the body */
}

/*#signin-page {*/
/*  background: fixed center url("images/login-bg.jpeg") ;*/
/*}*/

/* Set the alert background on the signin and signup pages. */
#signin-page .alert-light, #signup-page .alert-light {
  --bs-alert-bg: var(--matr-navbar-bg);
}

/* Define custom styles */
.gray-background {
  background-color: var(--matr-navbar-bg);
  color: var(--bs-dark);
  padding-top: 10px;
  padding-bottom: 20px;
}

.action-btn {
  background-color: #2c4230;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  width: 203px;
  text-align: center;
}

.action-btn:hover {
  scale: 1.05;
  color: white;
}

.action-btn:active {
  scale: 0.95;
}
